<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.silasera">

    <uses-permission android:name="android.permission.INTERNET" />
    <queries>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START"></action>
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@drawable/muscles"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.SeraSila">
        <activity
            android:name=".GuestWeightPlanner"
            android:exported="false" />
        <activity
            android:name=".GuestWomanWorkoutUpper"
            android:exported="false" />
        <activity
            android:name=".GuestWomanWorkout"
            android:exported="false" />
        <activity
            android:name=".GuestMainMenu"
            android:exported="false"
            android:label="Guest Profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ForgotPassword"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUp"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SilaSera">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>